body {
  background: #eee;
  font-family: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

.swipert {
  width: 100%;
  height: 100%;
}

.swiper-slidet {
  background: #fff;
  display: flex;
}

.swiper-slidet img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swipert {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50;
  overflow-x: hidden;
  overflow-y: visible;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
